{% extends "_base.twig" %}

{% block content %}
    {% if not isAJAX %}<section id="page-work-single" class="page page-work-single is-hidden">{% endif %}
    <div class="single">
        <a href="/diary" class="back link">Back</a>
        <div class="section ui-section">
            <div class="vertical-center">
                <div class="vertical-el">
                    <div class="device-content">
                        <h1>{{ work.label }}</h1>
                        <div class="share">
                            <span>Share on :</span>
                            <a href="https://twitter.com/intent/tweet?url={{ work.permalink }}&text={{ work.title }}" target="_blank" class="link">Twitter</a>
                            <a href="https://www.facebook.com/sharer.php?u={{ work.permalink }}" target="_blank" class="link">Facebook</a>
                        </div>
                    </div>
                </div>
            </div>
            {% for row in work.get_field('images') %}
                <div class="image image__{{ loop.index is odd ? 'right' : 'left' }}{% if loop.first %} margin-top{% endif %}">
                    <div class="intrinsic intrinsic--{{ row.type }}">
                        <div class="el" style="background-image: url('{{ row.image.url }}');"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if not isAJAX %}</section>{% endif %}
{% endblock %}